/* Container vidéo */

.video-container-wrapper {
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement si nécessaire */
  margin: 20px auto;       /* marge verticale et centrage horizontal */
}
.video-container {
  display: block;
  margin: 40px auto; /* centrer horizontalement */
  border-radius: 12px;
  overflow: visible; /* laisser le halo dépasser */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-container.playing {
  transform: scale(1.02);
}

/* Vidéo */
.video-container video {
  display: block;
  width: 100%;
  max-width: 800px;
  border-radius: 12px;
  z-index: 2;
}

/* Halo rouge réduit */
.halo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  pointer-events: none;
  z-index: 1;
  transition: box-shadow 0.1s linear;
}
